```css
@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Selection Styles */
::-webkit-selection {
    color: #fcfcfc;
    background: #b7c2c2;
    border: 2px solid #95d896;
}

::-moz-selection {
    color: #fcfcfc;
    background: #b7c2c2;
    border: 2px solid #00f7ff;
}

::selection {
    color: #fcfcfc;
    background: #b7c2c2;
    border: 2px solid #ff003b;
}

/* Body Styles */
body {
    font-family: "Karla", Arial, sans-serif;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 400;
    background: #fafafa;
    color: gray;
}

body.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    border: 2px solid red;
}

/* Wrapper Styles */
#colorlib-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.89);
}

#colorlib-wrapper > div {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    border: 2px solid #192393;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    color: rgba(0, 0, 0, 0.8);
    font-family: "Playfair Display", Georgia, serif;
    margin: 0 0 30px 0;
}

p, span {
    margin-bottom: 1.5em;
    font-weight: 400;
    font-family: "Karla", Arial, sans-serif;
    border: 2px solid #23e80f;
}

span {
    font-size: 18px;
    color: rgba(114, 114, 114, 0.8);
}

ul, ol {
    display: block;
    margin-bottom: 1.5em;
    border: 2px solid rgba(0, 0, 0, 0.78);
}

/* Link Styles */
a {
    color: #CA82F8;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border: 2px solid red;
}

a:hover {
    text-decoration: underline;
    color: #CA82F8;
    border: 2px solid red;
}

a:focus, a:active {
    outline: none;
}

/* Page Styles */
#colorlib-page {
    position: relative;
    -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.menu-show #colorlib-page {
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99);
    position: relative;
    border: 2px solid #080345;
}

.menu-show #colorlib-page:after {
    border: 2px solid #080345;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
    #colorlib-page {
        padding-top: 5em;
    }
}

/* Navigation Styles */
#colorlib-main-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 4em 40px 40px 40px;
    width: 360px;
    height: 100%;
    background: white;
    z-index: 1002;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    overflow-y: scroll;
}

@media screen and (max-width: 768px) {
    #colorlib-main-nav {
        width: 300px;
    }
}

.menu-show #colorlib-main-nav {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* Navigation Toggle */
#colorlib-main-nav .colorlib-nav-toggle {
    border: 2px solid #080345;
    position: absolute;
    top: 5px;
    right: 40px;
    padding: 20px;
    height: 44px;
    width: 44px;
    background: rgba(0, 0, 0, 0.05);
    line-height: 0;
    padding: 0 !important;
    visibility: hidden;
    opacity: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#colorlib-main-nav .colorlib-nav-toggle i {
    top: 18px !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0;
    text-indent: 0;
}

#colorlib-main-nav .colorlib-nav-toggle.show {
    visibility: visible;
    opacity: 1;
}

#colorlib-main-nav .colorlib-nav-toggle:hover {
    background: black;
}

#colorlib-main-nav .colorlib-nav-toggle:hover i::before, #colorlib-main-nav .colorlib-nav-toggle:hover i::after {
    content: '';
    width: 20px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
}

/* Navigation Menu */
#colorlib-main-nav ul {
    padding: 0;
    margin: 0 0 3em 0;
}

@media screen and (max-width: 768px) {
    #colorlib-main-nav ul {
        padding: 20px 0 0 0;
    }
}

#colorlib-main-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

#colorlib-main-nav ul li a {
    display: block;
    color: black;
    font-size: 14px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    #colorlib-main-nav ul li a {
        font-size: 16px;
    }
}

#colorlib-main-nav ul li a:hover, #colorlib-main-nav ul li a:active, #colorlib-main-nav ul li a:focus {
    color: black;
    outline: none;
    text-decoration: none;
}

#colorlib-main-nav ul li.active a {
    color: #CA82F8;
}

/* Form Styles */
#colorlib-main-nav .form-group {
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 480px) {
    #colorlib-main-nav .form-group {
        width: 100%;
    }
}

#colorlib-main-nav .form-group input::-webkit-input-placeholder {
    color: #333333;
}

#colorlib-main-nav .form-group input::-moz-input-placeholder {
    color: #333333;
}

#colorlib-main-nav .form-group input::-ms-input-placeholder {
    color: #333333;
}

#colorlib-main-nav .form-group input::-o-input-placeholder {
    color: #333333;
}

#colorlib-main-nav .form-group input::input-placeholder {
    color: #333333;
}

#colorlib-main-nav #search {
    font-size: 14px;
    width: 100%;
    padding-right: 3em;
    border: none;
    border: 2px solid #f2f2f2;
    background: #fafafa;
    color: #333333 !important;
}

#colorlib-main-nav #email {
    font-size: 18px;
    width: 100%;
    border: none;
    border: 2px solid #fff;
    background: #fff;
    color: #333333 !important;
}

#colorlib-main-nav button {
    position: absolute;
    top: 0;
    right: -4px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: #CA82F8;
    color: #fff;
    border: none;
    padding: 16px;
}

/* Gallery Styles */
#colorlib-main-nav .gallery {
    float: left;
    width: 50%;
    height: 150px;
    position: relative;
    display: table;
    z-index: 0;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    #colorlib-main-nav .gallery {
        width: 25%;
    }
}

@media screen and (max-width: 480px) {
    #colorlib-main-nav .gallery {
        width: 50%;
    }
}

#colorlib-main-nav .gallery:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#colorlib-main-nav .gallery span {
    display: table-cell;
    vertical-align: middle;
    height: 150px;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#colorlib-main-nav .gallery span i {
    color: #fff;
    font-size: 20px;
}

#colorlib-main-nav .gallery:hover:after, #colorlib-main-nav .gallery:focus:after {
    opacity: 1;
}

#colorlib-main-nav .gallery:hover span, #colorlib-main-nav .gallery:focus span {
    opacity: 1;
}

/* Header Styles */
header {
    border: 2px solid #080345;
    padding: 2em 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    header {
        padding: 2em 0;
    }
}

header .colorlib-navbar-brand {
    float: left;
    border: 2px solid #020202;
}

header .colorlib-navbar-brand .colorlib-logo {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    letter-spacing: 5px;
    padding: 7px;
    border: 1px solid #000;
    display: block;
    text-align: center;
    background: #000;
}

header .colorlib-navbar-brand .colorlib-logo span {
    display: block;
    margin-bottom: 0;
    line-height: 1.2;
    color: #fff;
}

header .colorlib-navbar-brand .colorlib-logo:hover {
    text-decoration: none !important;
}

header .colorlib-navbar-brand .colorlib-logo:active, header .colorlib-navbar-brand .colorlib-logo:focus {
    outline: none;
    text-decoration: none;
}
